<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496964040840-1g72td8nafvrbqm94dceobqgeh92k3go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496964040840-1g72td8nafvrbqm94dceobqgeh92k3go</string>
	<key>API_KEY</key>
	<string>AIzaSyCJPq4QI3unJqELSNV-lXRTx1ec71eEjm8</string>
	<key>GCM_SENDER_ID</key>
	<string>496964040840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oleksandrkurtsev.ITEA-12</string>
	<key>PROJECT_ID</key>
	<string>livefootball-fd75a</string>
	<key>STORAGE_BUCKET</key>
	<string>livefootball-fd75a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496964040840:ios:ef97764258522c56ffc73d</string>
	<key>DATABASE_URL</key>
	<string>https://livefootball-fd75a.firebaseio.com</string>
</dict>
</plist>